* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  transition: all 0.2s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
.nav.open {
  visibility: visible;
}
.nav .menu-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding-right: 1rem;
  background: #160610ff;
  list-style-type: none;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav .menu-nav__link {
  display: inline-block;
  padding: 2rem 0;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  transform: translateX(110vw);
  transition: all 0.2s ease-in-out;
}
.nav .menu-nav__link.open {
  transform: translateX(0);
}
.nav .menu-nav__link.active {
  color: #76e7cdff;
}
.nav .menu-nav__link:hover {
  color: #b23368ff;
}

.menu-nav__link:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__link:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__link:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__link:nth-child(4) {
  transition-delay: 0.55s;
}

.home {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), black 48vh, rgba(0, 0, 0, 0.5)), url("../img/retrotech.jpg") fixed center;
  background-size: cover;
}
.home__name {
  font-size: 5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-shadow: 1px 2px #b23368ff;
  border-bottom: 4px solid;
  -o-border-image: linear-gradient(to left, #b23368ff, #160610ff, #76e7cdff) 2;
     border-image: linear-gradient(to left, #b23368ff, #160610ff, #76e7cdff) 2;
}
.home__name--last {
  color: #76e7cdff;
  font-weight: 700;
}

.about {
  padding: 6rem 0 2rem 0;
  /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 33%, rgba(0, 0, 0, 0.9) 66%, rgba(0, 0, 0, 0.6)), url("../img/retrotech.jpg") fixed center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.about__bio {
  width: 65%;
  margin: 2rem auto 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
.about__bio--heading {
  grid-column: 1/-1;
}
.about__bio--image {
  grid-column: 1/-1;
  text-align: center;
}
.about__bio--image img {
  width: 100%;
  border-radius: 3rem;
}
.about__bio--description {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0.5rem;
}
.about__bio--description p {
  padding: 0 0.5rem;
}
.about__skills {
  width: 65%;
  margin: 2rem auto 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.about__skills .sub-headline {
  text-align: center;
  margin: 1rem 0;
}
.about__skills .pill {
  font-weight: 700;
  color: #000;
  border-radius: 1rem;
  padding: 0.5rem;
}
.about__skills__legend {
  grid-column: 1/-1;
}
.about__skills__legend__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.about__skills__legend__list li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #b23368ff, #76e7cdff) 2;
     border-image: linear-gradient(to right, #b23368ff, #76e7cdff) 2;
}
.about__skills__item__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.about__skills__item__list li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #b23368ff, #76e7cdff) 2;
     border-image: linear-gradient(to right, #b23368ff, #76e7cdff) 2;
}
.about .jobs, .about .education {
  width: 65%;
  margin: 2rem auto 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.about .jobs__item, .about .education__item {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
.about .jobs__item__tab, .about .education__item__tab {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px #76e7cdff;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #b23368ff, #76e7cdff) 2;
     border-image: linear-gradient(to right, #b23368ff, #76e7cdff) 2;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.about .jobs__item__tab:hover, .about .education__item__tab:hover {
  background-color: #160610ff;
}
.about .jobs__item__tab.open .caret, .about .education__item__tab.open .caret {
  transform: rotate(180deg);
}
.about .jobs__item__tab--heading, .about .education__item__tab--heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: initial;
  justify-content: center;
}
.about .jobs__item__tab--heading .period, .about .education__item__tab--heading .period {
  padding-bottom: 0.5rem;
}
.about .jobs__item__tab--heading .role,
.about .jobs__item__tab--heading .program,
.about .jobs__item__tab--heading .location, .about .education__item__tab--heading .role,
.about .education__item__tab--heading .program,
.about .education__item__tab--heading .location {
  font-size: 1.25rem;
  vertical-align: center;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.about .jobs__item__details, .about .education__item__details {
  display: none;
}
.about .jobs__item__details.open, .about .education__item__details.open {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5rem;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
}
.about footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.portfolio {
  padding: 6rem 0 2rem 0;
  /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 33%, rgba(0, 0, 0, 0.9) 66%, rgba(0, 0, 0, 0.6)), url("../img/retrotech.jpg") fixed center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.portfolio__bio {
  width: 65%;
  margin: 2rem auto 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
}
.portfolio__bio--description {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0.5rem;
}
.portfolio__items {
  width: 65%;
  margin: 2rem auto 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.portfolio__items__card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 1px 1px 4px 1px #76e7cdff;
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(to right, #b23368ff, #76e7cdff) 2;
     border-image: linear-gradient(to right, #b23368ff, #76e7cdff) 2;
}
.portfolio__items__card--image {
  width: 100%;
}
.portfolio__items__card--buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
}
.portfolio__items__card--buttons > .btn {
  background-color: black;
  color: #fff;
  border-top: 1px solid #76e7cdff;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.portfolio__items__card--buttons > .btn:first-of-type {
  border-right: 1px solid #76e7cdff;
}
.portfolio__items__card--buttons > .btn:hover {
  color: #b23368ff;
}
.portfolio__items__card--overlay {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  overflow: scroll;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background: #160610ff;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.portfolio__items__card--overlay > h2 {
  padding-bottom: 1rem;
}
.portfolio__items__card--overlay > p {
  padding-bottom: 1rem;
}
.portfolio__items__card--overlay > p:last-of-type {
  padding-bottom: 4rem;
}
.portfolio__items__card:hover .portfolio__items__card--overlay {
  top: 0;
  opacity: 0.9;
}
.portfolio .social-icons {
  display: flex;
  flex-direction: column;
}
.portfolio footer {
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.contact {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: initial;
  /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), black 48vh, rgba(0, 0, 0, 0.5)), url("../img/retrotech.jpg") fixed center;
  background-size: cover;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  position: initial;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: linear-gradient(to top right, rgba(22, 6, 16, 0) 10%, black);
    text-align: right;
  }
  .nav .menu-nav__item {
    flex-flow: row nowrap;
    justify-content: end;
  }
  .nav .menu-nav__link {
    padding-right: 1.5rem;
    font-size: 1.5rem;
    transform: translateX(0);
  }

  .about__bio--image img {
    width: 80%;
  }
  .about__skills {
    grid-template-columns: repeat(2, 1fr);
  }
  .about .jobs__item__tab--heading,
.about .education__item__tab--heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .about .education__item__details .course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio__items__buttons {
    position: absolute;
    top: 0;
    height: 100%;
  }
  .portfolio__items__buttons > .btn {
    opacity: 0;
    bottom: 100%;
  }

  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .headline {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .home {
    padding-top: 40vh;
  }

  .about__bio {
    grid-template-columns: 1fr 2fr;
  }
  .about__bio--heading {
    grid-column: 1/-1;
  }
  .about__bio--image {
    grid-column: 1/2;
  }
  .about__bio--description {
    grid-column: 2/-1;
  }
  .about__skills__legend__list {
    flex-direction: row;
  }
  .about__skills__legend__list li {
    width: 16%;
  }

  .portfolio__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio__items__card--overlay {
    overflow: hidden;
  }

  .contact {
    padding-top: 40vh;
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
body {
  background-color: black;
  color: #fff;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  line-height: 1.15;
}

h1,
h2 {
  font-family: "Audiowide", cursive;
  text-shadow: 1px 1px #b23368ff;
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
  word-break: break-word;
}
a:hover {
  color: #b23368ff;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}
main ul {
  padding: 0.5rem 1rem;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.2s ease-in-out;
}
main .social-icons a:hover {
  color: #b23368ff;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #76e7cdff;
}

.text-primary {
  color: #160610ff;
}

.text-secondary {
  color: #76e7cdff;
}

.headline {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.sub-headline {
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 1px #b23368ff;
}
/*# sourceMappingURL=main.css.map */