@use "config" as *;

.about {
    padding: 6rem 0 2rem 0;
    /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
    background: linear-gradient(0deg, rgba($text-dark, 0.9) 33%, rgba($text-dark, 0.9) 66%, rgba($text-dark, 0.6)),
    url("../img/retrotech.jpg") fixed center;
    background-size: cover;
    @include flex-display(column, wrap, center, flex-end);

    &__bio {
        width: 70%;
        text-align: center;

        .text-secondary {
            padding-bottom: 1rem;
        }
    }

    .jobs {
        @include page-section;

        &__item {
            @include item-card;

            &__period {
                background-color: rgba(black, 0.8);
                padding: 1rem;
                @include gradient-bottom;
            }

            &__details {
                @include flex-display(column, nowrap, left, space-evenly);
                padding: 1rem;

                h3,
                p {
                    padding-bottom: 1rem;
                }
            }
        }
    }

    .education {
        @include page-section;

        &__item {
            @include item-card;

            &__toggle {
                @include flex-display(row, nowrap, center, space-between);
                background-color: rgba(black, 0.8);
                color: $text-light;
                cursor: pointer;
                padding: 1rem;
                width: 100%;
                text-align: left;
                font-size: 1.5rem;
                @include gradient-bottom;

                &:hover {
                    background-color: black;
                }
            }

            &__content {
                display: none;
                overflow: hidden;
                padding: 1rem;
                @include transition-ease;

                &.open {
                    display: block;
                }

                h3 {
                    margin: 0.5rem 0;
                }
            }
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}
