@use "config" as *;

.about {
    padding: 6rem 0 2rem 0;
    /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
    background: linear-gradient(0deg, rgba($text-dark, 0.9) 33%, rgba($text-dark, 0.9) 66%, rgba($text-dark, 0.6)), url("../img/retrotech.jpg") fixed center;
    background-size: cover;
    @include flex-display(column, wrap, center, flex-end);

    &__bio {
        @include page-section;
        gap: 1rem;
        align-items: center;
        justify-items: center;

        &--heading {
            grid-column: 1/-1;
        }

        &--image {
            grid-column: 1/-1;
            text-align: center;

            img {
                width: 100%;
                border-radius: 3rem;
            }
        }

        &--description {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            padding: 0.5rem;

            p {
                padding: 0 0.5rem;
            }
        }
    }

    &__skills {
        @include page-section;
        gap: 1rem;

        > .headline {
            grid-column: 1/-1;
        }

        .sub-headline {
            text-align: center;
            margin: 1rem 0;
        }

        &__legend {
            grid-column: 1/-1;

            &__list {
                @include flex-display(column, wrap, center, space-evenly);
                list-style-type: none;

                li {
                    @include flex-display(row, nowrap, center, space-between);
                    width: 100%;
                    padding: 0.5rem 1rem;
                    border: solid;
                    @include gradient-bottom;
                }
            }
        }

        &__item {
            &__list {
                @include flex-display(column, wrap, center, space-evenly);
                list-style-type: none;

                li {
                    @include flex-display(row, nowrap, center, space-between);
                    width: 100%;
                    padding: 0.5rem 1rem;
                    @include gradient-bottom;
                }
            }
        }
    }

    .jobs,
    .education {
        @include page-section;

        &__item {
            @include item-card;

            &__tab {
                @include flex-display(row, nowrap, center, space-between);
                background-color: $text-dark;
                border-radius: 1rem 1rem 0 0;
                padding: 1rem;
                font-size: 1.25rem;
                cursor: pointer;
                box-shadow: 1px 1px 4px 1px $accent-turqoise;
                @include gradient-bottom;
                @include prevent-select;

                &:hover {
                    background-color: $primary-dark;
                }

                &.open {
                    .caret {
                        transform: rotate(180deg);
                    }
                }

                &--heading {
                    @include flex-display(column, nowrap, initial, center);

                    .period {
                        padding-bottom: 0.5rem;
                    }

                    .role,
                    .program,
                    .location {
                        font-size: 1.25rem;
                        vertical-align: center;
                        padding-bottom: 0.5rem;
                        padding-left: 0.5rem;
                    }
                }
            }

            &__details {
                display: none;

                &.open {
                    padding: 1rem;
                    display: grid;
                    grid-template-columns: 1fr;
                    row-gap: 0.5rem;
                }
            }
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}
