/* 1. Basic style resets
--------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 2. Theme Styles
--------------------------------------------------------------------*/

// Text
$dark-text: #000;
$light-text: #fff;

// Retro Gaming Color Palette
$dark: #160610ff;
$blue: #445393ff;
$turqoise: #76e7cdff;
$magenta: #75256aff;
$maroon: #b23368ff;
