@use "config" as *;

.contact {
    height: 100%;
    padding-top: 30vh;
    overflow: hidden;
    @include flex-display(column, wrap, center, initial);
    /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
    background: linear-gradient(0deg, rgba($text-dark, 0.5), rgba($text-dark, 1) 48vh, rgba($text-dark, 0.5)), url("../img/retrotech.jpg") fixed center;
    background-size: cover;

    h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        font-size: 1.5rem;
    }

    .social-icons {
        position: initial;
        margin-top: 2rem;
    }
}
