* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Text
$text-dark: #000;
$text-light: #fff;

// Retro Gaming Color Palette
$primary-dark: #160610ff;
$primary-light: #445393ff;
$secondary-color: #75256aff;
$accent-turqoise: #76e7cdff;
$accent-maroon: #b23368ff;

@mixin transition-ease {
    transition: all 0.2s ease-in-out;
}

@mixin flex-display($direction, $wrap, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $justify;
}

@mixin page-section {
    width: 60vw;
    margin: 2rem auto 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@mixin item-card {
    background: rgba(#fff, 0.2);
    border-radius: 1rem;
}

@mixin gradient-bottom {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, $accent-maroon, $primary-light) 2;
}

@mixin pill($background) {
    font-weight: 700;
    color: $text-dark;
    background-color: $background;
    border-radius: 16px;
    padding: 0.5rem;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
