/* 1. Basic style resets
--------------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 2. Theme Styles
--------------------------------------------------------------------*/

// Text
$dark-text: #000;
$light-text: #fff;

// Retro Gaming Color Palette
$dark: #160610ff;
$blue: #445393ff;
$turqoise: #76e7cdff;
$magenta: #75256aff;
$maroon: #b23368ff;

/* 3. Functions
--------------------------------------------------------------------*/

/* 4. Mixins
--------------------------------------------------------------------*/

@mixin transition-ease {
    transition: all 0.2s ease-in-out;
}

/* 5. Media Queries
--------------------------------------------------------------------*/

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
