@use "config" as *;

.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
    background: linear-gradient(0deg, rgba($text-dark, 0.5), rgba($text-dark, 1) 48vh, rgba($text-dark, 0.5)),
        url("../img/retrotech.jpg") fixed center;
    background-size: cover;

    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        text-shadow: 1px 2px $accent-maroon;
        border-bottom: 4px solid;
        border-image: linear-gradient(to left, $accent-maroon, $primary-dark, $accent-turqoise) 2;

        &--last {
            color: $accent-turqoise;
            font-weight: 700;
        }
    }
}
