@use "config" as *;

.projects {
    padding-bottom: 2rem;

    &__bio-background {
        height: 50vh;
        width: 100%;
        /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
        background: linear-gradient(0deg, rgba($primary-dark, 1) 25%, rgba($primary-light, 0.4)), url("../img/retrotech.jpg") fixed center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        p {
            margin-bottom: 2rem;
        }
    }
}
