@use "config" as *;

.projects {
    padding-bottom: 2rem;

    &__bio-background {
        height: 50vh;
        width: 100%;
        /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
        background: linear-gradient(0deg, rgba($primary-dark, 1) 25%, rgba($primary-light, 0.4)), url("../img/retrotech.jpg") fixed center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        p {
            margin-bottom: 2rem;
        }
    }

    &__bio {
        width: 70%;
        text-align: center;

        .text-secondary {
            padding-bottom: 1rem;
        }
    }

    &__items {
        @include page-section;
    }

    &__skills {
        @include page-section;

        &__legend {
            grid-column: 1/-1;
            text-align: center;

            &__list {
                @include flex-display(row, wrap, center, space-evenly);
                list-style-type: none;

                li {
                    @include flex-display(row, nowrap, center, space-between);
                    width: 16%;
                    padding: 0.5rem 1rem;
                    border: solid;
                    @include gradient-bottom;

                    span {
                        &.unkown {
                            @include pill(#ff0000);
                        }
                        &.limited {
                            @include pill(#ff5e00);
                        }
                        &.fair {
                            @include pill(#ffc100);
                        }
                        &.decent {
                            @include pill(#ffff00);
                        }
                        &.confident {
                            @include pill(#9dff00);
                        }
                        &.fluent {
                            @include pill(#63ff00);
                        }
                    }
                }
            }
        }

        &__item {
            text-align: center;

            &__list {
                @include flex-display(column, wrap, center, space-evenly);
                list-style-type: none;

                li {
                    @include flex-display(row, nowrap, center, space-between);
                    width: 100%;
                    padding: 0.5rem 1rem;
                    @include gradient-bottom;

                    span {
                        &.unkown {
                            @include pill(#ff0000);
                        }
                        &.limited {
                            @include pill(#ff5e00);
                        }
                        &.fair {
                            @include pill(#ffc100);
                        }
                        &.decent {
                            @include pill(#ffff00);
                        }
                        &.confident {
                            @include pill(#9dff00);
                        }
                        &.fluent {
                            @include pill(#63ff00);
                        }
                    }
                }
            }
        }
    }

    &__item {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        @include gradient-bottom;

        img {
            width: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $primary-light;
            opacity: 0;
            @include transition-ease;
        }

        &:hover {
            &::after {
                top: 0;
                opacity: 0.9;
            }

            .projects__btn {
                opacity: 1;
            }
        }
    }

    &__btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
    }

    &__btn {
        opacity: 0;
        color: $text-light;
        @include transition-ease;

        &:hover {
            color: $secondary-color;
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}
