@use "config" as *;

@include media-md {
    .home {
        padding-top: 40vh;
    }
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: linear-gradient(to top right, rgba($primary-dark, 0) 10%, black);
            text-align: right;

            &__item {
                flex-flow: row nowrap;
                justify-content: end;
            }

            &__link {
                padding-right: 1.5rem;
                font-size: 1.5rem;
                transform: translateX(0);
            }
        }
    }

    .about {
        &__bio {
            &--image {
                img {
                    width: 300px;
                }
            }
        }

        &__skills {
            grid-template-columns: repeat(2, 1fr);
        }

        .education {
            &__item {
                &__details {
                    .course-list {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }
    }

    .portfolio {
        &__items {
            grid-template-columns: repeat(2, 1fr);

            &__buttons {
                position: absolute;
                top: 0;
                height: 100%;

                > .btn {
                    opacity: 0;
                    bottom: 100%;
                }
            }
        }
    }

    .headline {
        font-size: 3rem;
    }
}

@include media-lg {
    .home {
        padding-top: 40vh;
    }

    .about {
        &__bio {
            grid-template-columns: 1fr 2fr;

            &--heading {
                grid-column: 1/-1;
            }

            &--image {
                grid-column: 1/2;
            }

            &--description {
                grid-column: 2/-1;
            }
        }

        .jobs,
        .education {
            &__item {
                &__tab {
                    &--heading {
                        @include flex-display(row, nowrap, center, center);
                    }
                }
            }
        }

        &__skills__legend__list {
            flex-direction: row;

            li {
                width: 16%;
            }
        }
    }

    .portfolio {
        &__items {
            &__card {
                &--tap {
                    display: none;
                }
                &--overlay {
                    overflow: hidden;
                }
            }
        }
    }

    .contact {
        padding-top: 40vh;

        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@include media-xl {
    .portfolio {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
