@use "config" as *;

@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: linear-gradient(to top right, rgba($primary-dark, 0) 20%, black);
            text-align: right;

            &__item {
                flex-flow: row nowrap;
                justify-content: end;
            }

            &__link {
                padding-right: 1.5rem;
                font-size: 1.5rem;
                transform: translateX(0);
            }
        }
    }

    .projects {
        &__bio-image {
            height: 40vh;
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .headline {
        font-size: 3rem;
    }
}

@include media-lg {
    .projects {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@include media-xl {
}
