@use "config" as *;

@include media-md {
    .home {
        padding-top: 40vh;
    }
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: linear-gradient(to top right, rgba($primary-dark, 0) 8%, black);
            text-align: right;

            &__item {
                flex-flow: row nowrap;
                justify-content: end;
            }

            &__link {
                padding-right: 1.5rem;
                font-size: 1.5rem;
                transform: translateX(0);
            }
        }
    }

    .about {
        &__bio {
            &--image {
                img {
                    width: 350px;
                }
            }
        }

        &__skills {
            grid-template-columns: repeat(2, 1fr);

            &__legend {
                grid-column: 1/-1;
            }
        }

        &__experience {
            .education {
                &__item {
                    &__details {
                        .course-list {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                        }
                    }
                }
            }
        }
    }

    .portfolio {
        &__items {
            grid-template-columns: repeat(2, 1fr);

            &__buttons {
                position: absolute;
                top: 0;
                height: 100%;

                > .btn {
                    opacity: 0;
                    bottom: 100%;
                }
            }
        }
    }

    .headline {
        font-size: 3rem;
    }
}

@include media-lg {
    body.page-about {
        overflow: hidden;
    }
    .about {
        padding-top: 0;
        &__bio {
            width: 1200px;
            min-height: 100vh;
            grid-template-columns: 1fr 1.5fr;
            grid-template-rows: 90vh 10vh;
            gap: 0;
            margin: 0;

            &--heading {
                grid-column: 1/-1;
            }

            &--image {
                grid-column: 1/2;
            }

            &--description {
                grid-column: 2/-1;
            }

            .sectionjump {
                grid-column: 1/-1;
            }
        }

        &__skills {
            width: 1200px;
            min-height: 100vh;
            margin-top: 0;
            margin-bottom: 0;
            grid-template-rows: 15vh 5vh 20vh 50vh 10vh;
            gap: 0;

            &__legend__list {
                grid-template-columns: repeat(6, 1fr);
            }

            .sectionjump {
                grid-column: 1/-1;
            }
        }

        &__experience {
            width: 1200px;
            min-height: 100vh;
            margin: auto;
            grid-template-rows: 15vh 7vh 68vh 10vh;
            gap: 0;

            &__heading {
                padding-bottom: 1rem;
            }

            .jobs,
            .education {
                align-self: flex-start;
                margin-bottom: 0;
                &__item {
                    &__tab {
                        &--heading {
                            @include flex-display(row, nowrap, center, center);

                            .role,
                            .program,
                            .location,
                            .period {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .sectionjump {
            @include flex-display(row, nowrap, center, center);
            width: 100%;
            @include transition-ease;

            &__rule {
                flex: 1 1 auto;
                border: none;
                border-bottom: 2px solid $accent-turqoise;
                display: inline-block;
                box-shadow: 1px 1px 4px 1px $accent-turqoise;
            }

            &__button {
                @include flex-display(row, nowrap, center, center);
                cursor: pointer;
                width: fit-content;
                height: fit-content;
                padding: 0.5rem;
                z-index: 2;
                background: none;
                border: none;
                font-size: 1.25rem;
                color: $text-light;
                @include transition-ease;

                span {
                    font-size: 2rem;
                }

                &:hover {
                    color: $accent-maroon;

                    span {
                        font-size: 3rem;
                    }
                }
            }
        }
    }

    .portfolio {
        &__items {
            &__card {
                &--tap {
                    display: none;
                }
                &--overlay {
                    overflow: hidden;
                }
            }
        }
    }

    .contact {
        padding-top: 40vh;

        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@include media-xl {
    .portfolio {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
