@use "config" as *;
@use "menu";
@use "home";
@use "about";
@use "portfolio";
@use "contact";
@use "responsive";

body {
    background-color: black;
    color: $text-light;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    line-height: 1.15;
}

h1,
h2 {
    font-family: "Audiowide", cursive;
    text-shadow: 1px 1px $accent-maroon;
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

a {
    color: $text-light;
    text-decoration: none;
    word-break: break-word;

    &:hover {
        color: $accent-maroon;
    }
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    height: 100%;
    width: 100%;

    ul {
        padding: 0.5rem 1rem;
    }

    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;

        a {
            padding: 0.4rem;
            @include transition-ease;

            &:hover {
                color: $accent-maroon;
            }
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: $accent-turqoise;
}

.text-primary {
    color: $primary-dark;
}

.text-secondary {
    color: $accent-turqoise;
}

.headline {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.sub-headline {
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    text-shadow: 1px 1px $accent-maroon;
}
