@use "config" as *;

.portfolio {
    padding: 6rem 0 2rem 0;
    /* Background image collected on 10/01/2021 from Unsplash: https://unsplash.com/photos/p0j-mE6mGo4 Author: Lorenzo Herrera https://unsplash.com/@lorenzoherrera Published: February 21, 2019 */
    background: linear-gradient(0deg, rgba($text-dark, 0.9) 33%, rgba($text-dark, 0.9) 66%, rgba($text-dark, 0.6)), url("../img/retrotech.jpg") fixed center;
    background-size: cover;
    min-height: 100vh;
    @include flex-display(column, wrap, center, center);
    @include prevent-select;

    &__bio {
        @include page-section;
        row-gap: 1rem;

        &--description {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            padding: 0.5rem;
        }
    }

    .carousel {
        @include page-section;
        gap: 1rem;

        &__container {
            width: 100%;
            overflow: hidden;

            &__list {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(10, minmax(475px, 1fr));
                align-items: center;
                justify-items: center;
                width: 100%;
                height: 100%;
                padding: 0.1rem;
                gap: 2rem;
                transition: all 1s ease-in-out;

                &__card {
                    position: relative;
                    border-radius: 1rem;
                    box-shadow: 1px 1px 4px 1px $accent-turqoise;
                    background-color: black;
                    width: 100%;
                    height: 100%;

                    img {
                        border-top-right-radius: inherit;
                        border-top-left-radius: inherit;
                        width: 100%;
                    }

                    &__content {
                        @include gradient-bottom;
                        @include transition-ease;
                        border-bottom: 0;
                        border-top: 3px solid;
                        border-bottom-left-radius: inherit;
                        border-bottom-right-radius: inherit;
                        text-align: center;
                        overflow: hidden;

                        &__headings {
                            @include transition-ease;
                            display: grid;
                            grid-template-columns: 1fr;
                            align-items: center;
                            justify-items: center;
                            gap: 0.25rem;
                            width: 100%;
                            height: 100%;
                            padding: 1rem 0.5rem;

                            & > h1 {
                                color: $accent-turqoise;
                                font-size: 1.5rem;
                            }

                            & > h2 {
                                color: darken($text-light, 10);
                                font-family: "Oswald", sans-serif;
                                font-size: 1rem;
                                text-shadow: none;
                            }
                        }

                        &__description {
                            @include transition-ease;
                            display: none;
                            text-align: left;
                            height: 0;
                            opacity: 0;

                            a {
                                color: $accent-turqoise;

                                &:hover {
                                    color: $accent-maroon;
                                }
                            }
                        }
                    }

                    &__buttons {
                        @include flex-display(row, nowrap, center, center);
                        width: 100%;
                        border-radius: 0 0 1rem 1rem;
                        position: absolute;
                        bottom: 0;
                        z-index: 1;

                        .btn {
                            flex: 1 1 0;
                            background-color: black;
                            color: $text-light;
                            text-align: center;
                            padding: 1rem;
                            border-top: 1px solid $accent-turqoise;
                            cursor: pointer;
                            @include transition-ease;

                            &:first-of-type {
                                border-right: 1px solid $accent-turqoise;
                                border-bottom-left-radius: 1rem;
                            }

                            &:last-of-type {
                                border-bottom-right-radius: 1rem;
                            }

                            &:hover {
                                color: $accent-maroon;
                            }
                        }
                    }

                    .tap {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 20%;
                        padding: 0.25rem;
                    }

                    &:hover {
                        .carousel__container__list__card {
                            &__content {
                                position: absolute;
                                background-color: rgba(black, 0.9);
                                top: 0;
                                height: 100%;
                                padding-top: 1rem;
                                border: none;
                                border-radius: 1rem;
                                overflow: scroll;

                                &__headings {
                                    height: fit-content;
                                    @include gradient-bottom;
                                    border-bottom: 3px solid;
                                }

                                &__description {
                                    height: fit-content;
                                    display: grid;
                                    grid-template-columns: 1fr;
                                    gap: 0.5rem;
                                    padding: 1rem 1rem 4rem;
                                    opacity: 1;
                                }
                            }
                        }
                        .tap {
                            opacity: 0;
                        }
                    }
                }
            }
        }

        &__map {
            display: none;
            button {
                all: unset;
                background: lighten($accent-turqoise, 10);
                cursor: pointer;
                margin: 0 0.125em;
                position: relative;
                user-select: none;
                @include circle(1em);

                &.active {
                    &:after {
                        background: $accent-maroon;
                        content: "";
                        left: 50%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        @include circle(0.5em);
                    }
                }
            }
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        left: 0.5rem;
    }

    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}
